In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('LogiReg.csv')
df

        Sex   Age  SibSp  Parch     Fare  Survived
0      male  22.0      1      0   7.2500         0
1    female  38.0      1      0  71.2833         1
2    female  26.0      0      0   7.9250         1
3    female  35.0      1      0  53.1000         1
4      male  35.0      0      0   8.0500         0
..      ...   ...    ...    ...      ...       ...
886    male  27.0      0      0  13.0000         0
887  female  19.0      0      0  30.0000         1
888  female   NaN      1      2  23.4500         0
889    male  26.0      0      0  30.0000         1
890    male  32.0      0      0   7.7500         0

[891 rows x 6 columns]

In [2]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
encoded = le.fit_transform(df['Sex'])
df['Sex'] = encoded
df.dropna(inplace=True)
X = df.iloc[:, :-1]
y = df.iloc[:, 5]
print(X)
print(y)
print("X: size =", X.shape)
print("Y size =", y.shape)

     Sex   Age  SibSp  Parch     Fare
0      1  22.0      1      0   7.2500
1      0  38.0      1      0  71.2833
2      0  26.0      0      0   7.9250
3      0  35.0      1      0  53.1000
4      1  35.0      0      0   8.0500
..   ...   ...    ...    ...      ...
885    0  39.0      0      5  29.1250
886    1  27.0      0      0  13.0000
887    0  19.0      0      0  30.0000
889    1  26.0      0      0  30.0000
890    1  32.0      0      0   7.7500

[714 rows x 5 columns]
0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 714, dtype: int64
X: size = (714, 5)
Y size = (714,)

In [3]:
from sklearn.datasets import load_breast_cancer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test,y_train, y_test = train_test_split(X, y,test_size=0.20,random_state=0)
clf = LogisticRegression()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print("Logistic Regression model accuracy (in %):", acc*100)
print("Roll Num: CB.SC.I5DAS21049")
print("Name: Pratiksha Cauvery K P")

Logistic Regression model accuracy (in %): 77.62237762237763
Roll Num: CB.SC.I5DAS21049
Name: Pratiksha Cauvery K P