In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('KNN.csv')
df

   BRIGHTNESS  SATURATION CLASS
0          40          20   Red
1          50          50  Blue
2          60          90  Blue
3          10          25   Red
4          70          70  Blue
5          60          10   Red
6          25          80  Blue

In [4]:
le = LabelEncoder()
encoded = le.fit_transform(df['CLASS'])
df.drop(columns = 'CLASS', axis=1)
df['CLASS'] = encoded
df

   BRIGHTNESS  SATURATION  CLASS
0          40          20      1
1          50          50      0
2          60          90      0
3          10          25      1
4          70          70      0
5          60          10      1
6          25          80      0

In [5]:
from sklearn.model_selection import train_test_split
X = df.drop(columns = 'CLASS', axis = 1)
y = df['CLASS']
print("Shape of X: ", X.shape)
print("Shape of y: ", y.shape)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

Shape of X:  (7, 2)
Shape of y:  (7,)

In [6]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn = KNeighborsClassifier(n_neighbors = 3, metric = 'euclidean')
knn.fit(X_train, y_train)
knn_pred = knn.predict(X_test)
print("Accuracy Score of K Neighbors Classifier: ", accuracy_score(y_test, knn_pred))
print("Roll Num: CB.SC.I5DAS21049")
print("Name: Pratiksha Cauvery K P")

Accuracy Score of K Neighbors Classifier:  1.0
Roll Num: CB.SC.I5DAS21049
Name: Pratiksha Cauvery K P